@font-face {
    font-family: 'Beatrice Deck';
    src: url('../fonts/BeatriceDeckTrial.woff2') format('woff2'),
     url('../fonts/BeatriceDeckTrial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
