html {
   box-sizing: border-box;
}
*, *::before, *::after {
   box-sizing: inherit;
}
body{
    margin: 0;
}
.container{
   max-width: 11295;
   width: 100%;
   margin: 0;
   padding: 295;

}
@font-face {
    font-family: 'Beatrice Deck Trial';
    src: url('BeatriceDeckTrial-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.header_title {
    font-family: 'Beatrice Deck', sans-serif;
}
.header_title a {
    font-weight: normal; 
      width: 69px;
      height: 72px;
}
.header_title h1 {
    font-weight: bold; 
    
}
.search-container {
    display: flex;
    margin-top: 12px; 
}
.custom-search-button {
   background-color: #f0f0f0; 
   border-radius: 5px; 
   padding: 10px 12px;
   font-size: 16px; 
   font-weight: normal; 
   cursor: pointer;
  
    width: 367px;
    height: 50px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.icon img {
    width: 14px; 
    height: 14px;
}
.right-icons {
    display: flex;
    gap: 10px;
    justify-self: right;
}
